<a href="https://colab.research.google.com/github/shravyaakula/pythonassignments/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Question 1'''
print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("predict " "output" ,".....")

0.30000000000000004
1.82
True
False
predict output .....

In [ ]:
'''Question 2'''
print("prints","multiple ","messages\n")
print("concatenate "+"two strings\n")
print(5+6+" adds two numbers\n")

prints multiple  messages

concatenate two strings

TypeError: ignored

In [ ]:
'''Question 3'''
print("ba"+"na"*2)
print("c:\\naresh\\raju\\abhi")

banana
c:\naresh\raju\abhi

In [ ]:
'welcome to python traing program'[-4::-4]

'g anytow'

In [ ]:
'A series of characters designated as one object known as a string'[2:18:5]

'sscc'

In [ ]:
print('A series of charecters designated as one object known as a string'[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
print("-----------")

-----------

In [ ]:
print('Welcome to python traing program'[3:10][::-1])

ot emoc

In [ ]:
str1=True
x=5 > 3
print(str1==x)
y=5 > 8
print(str1==y)

True
False

In [ ]:
num=7
Name = "Michael jackson"
sear_num = Name.find('el')
print(num > sear_num)

True

In [ ]:
p_pharse="was it a car or a cat I saw"
x=p_pharse.upper()[::-1]
print(x)

WAS I TAC A RO RAC A TI SAW

In [ ]:
A='1934567\n'
n=A[1::2]
print(int(n))

946

In [ ]:
fake_phrase = "Fake news has a knack for spreading like wild fire"
x=fake_phrase[16:40:].upper()[::-1]
x.split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

In [ ]:
msg1=" Facebook already uses Al to Filter Fake stories from the feed of users "
print(msg1.split())

['Facebook', 'already', 'uses', 'Al', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feed', 'of', 'users']

In [ ]:
msg2 = "welcome to sr engineering college"
x=msg2.count("o")     #x
y=msg2.count("r")     #r
msg2[y**x:(x**y+x+y):][::-1]
msg2[2**3:(3**2+3+2):][::-1]

' rs ot'

In [ ]:
msg2.count("r")    #r

2

In [ ]:
msg2.count("o")     #x

3

In [ ]:
num1,num2="94","30"
data="As per census 2011,Gender ratio of India in 943 females per 1000 males "
num1+num2[0] in data

True

In [ ]:
print(data[:45],print(int(num1)+int(num2)))

124
As per census 2011,Gender ratio of India in 9 None

In [ ]:
M= float(input('enter amount of water in kilograms '))
initialtemperature=float(input('enter initial temperature of water in degree celsius '))
finaltemperature=float(input('enter final temperature of water in degree celsius '))
Q = M*4184*(finaltemperature - initialtemperature)
print(f'energy required to heat water = {Q} joules')

enter amount of water in kilograms 10
enter initial temperature of water in degree celsius 70
enter final temperature of water in degree celsius 100
energy required to heat water = 1255200.0 joules

In [ ]:
x=int(input('Enter x value'))
y=x*2
print('z'*x+'o'*y)

Enter x value2
zzoooo

In [ ]:
x=int(input('enter x value'))
y=int(input('enter y value'))
pow=x**y
print(pow)
div=int(pow/(x*y))
print(div)
print(div^(x+y))

enter x value5
enter y value6
15625
520
515